/* Gruppe 13 */


/* global */
* {box-sizing: border-box;}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
.container {
    max-width: 800px;
    margin: 0 auto 10px auto;
    padding-left: 15px;
    padding-right: 15px;
}
.rowContainer {
    display: -webkit-flex;
    display: flex;
    min-width: 60px;
    line-height: 30px;
}
.rowFlexFour {
    min-width:100px;
    -webkit-flex:4;
    flex:4;
}
.rowFlexOne {
    min-width:120px;
    -webkit-flex:1;
    flex:1;
}
.rowFlexZero {
    -webkit-flex:1;
    flex:1;
}
.nRight {float: right;}
.nLeft {float:left;}

/* font-size */
button {
    font-size:14px;
    font-size: 0.875rem;
}
input, textarea {
    font-size:15px;
}
/* brauchte eigene font-family definition, warum auch immer */
textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* buttons */
button {
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    margin: 0 1px;
}
.btnSort {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}
.btnEdit {
    background-color: #d40317;
    border-color: #d40317;
    color: #fff;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index:11;
}
.btnDelete {
    background-color: #d40317;
    border-color: #d40317;
    color: #fff;
    position: absolute;
    bottom: 5px;
    right: 120px;
    z-index:11;
}
.btnSave, .btnShowFinished {
    background-color: #11de56;
    border-color: #09da26;
    color:#fff;
}
.btnDelete, .btnDeleteAll {
    background-color: #d40317;
    border-color: #d40317;
    color: #fff;
}
button:active, button:focus, button:hover {
    background-color: #337ab7;
    border: 1px solid #1e5ab7;
}

/* notes + sort */
.box{
    border: 2px solid #337ab7;
    border-radius: 4px;
    margin-bottom: 10px;
}

.hoverOverlay {
    display:none;
    position:absolute;
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity=80);
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:10;
}
.box:hover .hoverOverlay {
    display:inline-block;
}
.box:hover {
    border: 2px solid #000000;
}
.noteInfo{
    background-color:#337ab7;
    padding: 2px 6px;
    line-height:24px;
}
.noteContent{
    padding: 2px 6px;
    position:relative;
    width: 100%;
}
.noteInfo img {
    width: 16px;
    margin: 0 10px -3px 0;
}
.title {
    border-bottom: 1px solid #337ab7;
}
.content {
    line-height: 22px;
    padding:2px 0;

}

#inputNote {
    display:none;
    background-color: #e4ecc8;
    padding: 10px 20px;
}
.inputField div:first-child {
    width: 150px;
}
.sortNotes {padding-top:10px;}

#inputNote input, #inputNote textarea {
    background-color: #fff;
    background-image: none;
    border: 1px solid #cecece;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    line-height: 1.5;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
#inputNote input {
    height: 38px;
}

.checkBox input {
    display: none;
}
.checkBox span {
    width: 12px;
    height: 12px;
    display: block;
}

/* links */
a {text-decoration: none;}


/* nav */
header {margin: 51px 0 0 0;}
.nav {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9999;
    top: 0;
    border-width: 0 0 1px;
    background-color: #06232b;
    border-color: #080808;
    min-height: 50px;
    margin-bottom: 20px;
}

.nav .n13logo {
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 15px;
    color: #afafaf;
}

.nav .selectStyle {
    margin-top: 14px;
    padding: 3px 6px;
    border: 0px;
    background-color: #080808;
    color:#ffffff;
}

.nav ul {
    float: left;
    margin: 0;
    list-style: none;
    color:#ffffff;
    margin-left: -40px;

}
.nav li {
    float: left;
}

.nav a{
    padding: 15px 20px;
    text-decoration: none;
    color: #9d9d9d;
    display: block;
}

.nav .active a, .nav a:hover, .nav a:focus {
    background-color: #080808;
    color: #fff;
}

/* board */
.board {
    background-image: url("../media/n13pinnwand_1300x866px.jpg");
    padding:15px;
    min-height:80px;
    margin: 50px 0 0 0;
}
.board button
{
    margin-top:72px;
}
.n13postit {
    width:110px; margin:-10px 0 0 10%;
}

/* Statuszeile */
.status div {
    display:none;
    background-color:#337ab7;
    color:#fff;
    margin: 5px;
    padding:12px;
    text-align: center;
}

/* StyleSwitcher: addClass */
.navModern {
    background-color: #d40317;
    border-color: #080808;
}
.displayNone {display:none;}

/* media querries */
@media screen and (max-width:479px) {
    header {
        margin: 120px 0 0 0;
    }
}